@{
    ViewBag.Title = "台灣循環材料展示館-隱私權政策";
    ViewBag.CentralBlock = "c";
}

<section id="header">
    <div class="backoverlay">
        <div class="bread">
            <span class="blinditem whiteColor"><a href="#" accesskey="R" title="右方內容區塊">:::</a></span>
            <span><a href='@Url.Action("Index", "Home", new {}, Request.Url.Scheme)'>首頁</a> > 隱私權政策</span>
        </div>
        <div class="title">
            <span class="blinditem whiteColor font04"><a href="#" accesskey="C" title="中央內容區塊">:::</a></span>
            <h1>隱私權政策</h1>
        </div>
    </div>
</section>
<section class="content" id="c">
    <div class="container MT30">
        <div class="lineheight01 font03 announce">
            <div class="MB10">
                <h2>資訊安全宣告</h2>
                經濟部工業局「台灣循環材料展示館」（以下簡稱本網站）為確保網際網路使用者在瀏覽本網站時的隱私權，故訂定此隱私權說明。藉以協助您瞭解本局如何保護您所提供的個人資訊，以及如何蒐集、運用及保護您所提供的各項資訊。請您詳讀下列內容，以促進您安心使用本網站的各項貼心服務。同時，本網站所蒐集到的個人資料，除其他法律另有規定者外，謹遵守「電腦處理個人資料保護法」、「行政院及所屬各機關資訊安全管理要點」及本局「資訊安全管理作業手冊」之規範辦理。
            </div>
            <div class="MB10">
                <h2>隱私權政策宣示適用範圍</h2>
                以下的隱私權政策，適用於您在本網站活動時，所涉及的個人資料蒐集、運用與保護，但不適用於與本網站功能連結之各政府機關網站與繳費網站。凡經由本網站連結之網站，各網站均有其專屬之隱私權政策，本網站不負任何連帶責任。當您連結這些網站時，關於個人資料的保護，適用各該網站的隱私權政策。
            </div>
            <div class="MB10">
                <h2>個人資料之蒐集</h2>
                單純在本網站的瀏覽及檔案下載行為，本網站並不會蒐集任何有關個人的身份資料。
                利用本網站所提供的各項線上申請服務，需申請人提供個人資料時，各承辦機關會依案件辦理需求請您提供姓名、身分證字號、聯絡電話、e-mail、通訊住址及戶籍地址等個人最新、最真實之資料。
                網站會記錄使用者上網的IP位址、上網時間以及在網站內所瀏覽的網頁等資料，這些資料係供本網站網站管理單位內部作網站流量和網路行為調查的總量分析，以利於提昇本網站的服務品質，且僅對全體使用者行為總和進行分析，並不會對個別使用者進行分析。
                本網站有義務保護各申請人隱私，非經您本人同意不會自行修改或刪除任何個人資料及檔案。除非經過您事先同意或符合以下情況始得為之：<br />

                <ul class="ML20">
                    <li>經由合法的途徑。</li>
                    <li>違反本網站規定事項，如在交流園地中出現謾罵或做人身攻擊的言論時。</li>
                    <li>保護或防衛相關網路民眾的權利或所有權。</li>
                    <li>為保護本網站各相關單位之權益。</li>
                    <li>
                        本網站絕不會任意出售、交換、或出租任何您的個人資料給其他團體、個人或私人企業。但有下列情形者除外：
                        <ul class="ML15">
                            <li>配合司法單位合法的調查。</li>
                            <li>配合相關職權機關依職務需要之調查或使用。</li>
                            <li>基於善意相信揭露為法律需要，或為維護和改進網站服務而用於管理。</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <h2>個人應盡之義務</h2>
            凡登記成為本網站網路民眾並利用本網站提供之線上申請服務者，皆有義務維持並更新其所屬個人資料，並確保該資料為正確、最新以及完整性。<br />
            若您提供任何錯誤或不實的資料，本網站各相關經營單位有權拒絕您以該帳號使用網站之全部或部份服務。<br />
            維持密碼及帳號的機密安全，是本網站及各相關經營單位與您共同的責任。<br />
            您的密碼或帳號遭到盜用或有其他任何安全問題發生時，請您立即以電子郵件通知本網站，以便資訊人員協助處理。<br />
            確保每次連線完畢，均會登出帳號使用以保護個人帳號不會遭到其他人濫用。若您是與他人共享電腦或使用公共電腦，切記要關閉瀏覽器視窗，以防止他人讀取您的個人資料或信件。<br />
            所有網路民眾行為應遵循國內、外法律規範，並且對於個人所屬帳號、密碼所發生之情事負全部責任。
        </div>
    </div>
</section>