@{
    ViewBag.Title = "台灣循環材料展示館-化學品交易";
    ViewBag.CentralBlock = "section-01";
}

<section id="section-01" class="image-idea">

    <div class="bread">
        <span class="blinditem"><a href="#" accesskey="R" title="右方內容區塊">:::</a></span>
        <span>線上展覽</span> > 主題展 > 化學品交易</span>
    </div>
    <div class="container">
        <div class="title text-center">
            <span class="blinditem greyColor font04"><a href="#" accesskey="C" title="中央內容區塊">:::</a></span>
            <h1><span class="greenColor">化學品交易</span></h1>
        </div>
        <div class="text-center MB30 MT30">
            <h2>
                <div class="circle bggreen">將</div>
                所有權轉為使用權的化學品租賃模式
            </h2>
        </div>
        <div class="row vertical-align">
            <div class="col-md-7"><img src="../Content/images/img-exhibition-topic-05.png" class="img-center img-responsive MB10" title="化學品租賃模式" alt="化學品租賃模式架構圖" /></div>
            <div class="col-md-5">
                <div class="font03 lineheight01 MB5">傳統的線性經濟模式，是將製造的化學品使用後廢棄。</div>
                <div class="font03 lineheight01 MB5">透過循環材料驗證與媒合平台，將可由供應商運作化學品租賃商業模式。 </div>
                <div class="font03 lineheight01">將使用過的化學品回收形成循環經濟模式，進而提高化學品使用率與降低廢棄物產商量。相關業者可籌組化學品租賃聯盟，共同擴大經濟規模與降低成本。 </div>
            </div>
        </div>


    </div>
</section>
<section id="idea-section-06">
    <div class="container">
        <div class="text-center MB30">
            <h2>
                <div class="circle bggrey">聯</div>
                合國工業發展組織(UNIDO)的定義
            </h2>
        </div>
        <div class="row vertical-align">
            <div class="col-md-6 MB10">
                <div class="font03 lineheight01">這樣的議題也在國際引起了重視，聯合國工業發展組織(UNIDO)提出了下面定義。化學品租賃模式是以服務為導向的商業模式，重點從增加化學品銷售量轉向服務增值方法。 </div>
            </div>
            <div class="col-md-6">
                <img src="../Content/images/img-unido.png" class="img-center img-responsive MB10" alt="" width="200" />
            </div>
        </div>
    </div>

</section>
<section id="exhibtion-section-07">
    <div class="container">
        <div class="text-center MB20">
            <h2>
                <div class="circle bggreen">定</div>
                <span class="whiteColor">義的改變帶來誘因的改變</span>
            </h2>
        </div>
        <div class="row vertical-align">
            <div class="col-md-6 MB10">
                <div class="card">
                    <img src="../Content/images/img-exhibition-topic-02.png" class="img-center img-responsive" alt="" />
                </div>

            </div>
            <div class="col-md-6">
                <div class="font03 lineheight01 MB5 whiteColor">傳統的模式下，買方想要減少化學品的使用量，但供應商會想要提高銷售項。</div>
                <div class="font03 lineheight01 MB5 whiteColor">當由服務供應商運作租賃模式的時候，服務供應商為了降低成本，也會希望減少使用量。 </div>
                <div class="font03 lineheight01 whiteColor">此時雙方的誘因將會達成一致的狀態。 </div>
            </div>
        </div>

    </div>
</section>
<section id="exhibtion-section-08">
    <div class="container">
        <div class="text-center MB30">
            <h2>
                <div class="circle bggrey">創</div>
                造環境面與經濟面的雙贏局面
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="font03 lineheight01 MB5">減少使用量後將提高化學品的使用率，降低廢棄物產量，改善經濟和環境績效。</div>
                <div class="font03 lineheight01 MB10">環境面的績效包括減少廢棄負擔(waste load)、水汙染與空氣汙染。環境面的績效可透過降低生產者成本、使用者成本與其他成本提升價值。</div>
            </div>
            <div class="col-md-6">
                <img src="../Content/images/img-exhibition-topic-03.png" class="img-center img-responsive" alt="" />
            </div>
        </div>

    </div>
</section>
<section id="exhibtion-section-10">
    <div class="container">
        <div class="text-center MB30">
            <h2>
                <div class="circle bggreen">少</div>
                即是多(less is more)的創新思維，引領轉型循環經濟
            </h2>
        </div>

        <div class="row vertical-align">
            <div class="col-md-6"><img src="../Content/images/img-exhibition-topic-04.png" class="img-center img-responsive MB10" alt="" /></div>
            <div class="col-md-6">
                <div class="font03 lineheight01 MB5">在化學品租賃的基礎上，將可推動永續化學品管理，為循環經濟做出貢獻。</div>
                <div class="font03 lineheight01 MB10">已更少的化學品使用量，帶動更多的交流，並在環境效益、社會效益與經濟效益3方面創造更高的價值。</div>
            </div>
        </div>
        <table width="100%" border="0" class="table-colored font03">
            <tbody>
                <tr>
                    <th>環境效益</th>
                    <th>社會效益</th>
                    <th>經濟效益</th>

                </tr>
                <tr>
                    <td>減少資源消耗</td>
                    <td>降低化學品處理風險</td>
                    <td>降低成本</td>

                </tr>
                <tr>
                    <td>減少排放和廢棄</td>
                    <td>通過培訓提高員工資格</td>
                    <td>增強競爭力</td>

                </tr>
                <tr>
                    <td>減少能源需求</td>
                    <td>減少健康危害</td>
                    <td>更好的業務夥伴關係</td>

                </tr>
            </tbody>
        </table>

    </div>
</section>